[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MixtureFitting"]
	path = MixtureFitting
	url = https://github.com/merkys/mixturefitting
